{{ define "header" }}


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
	<title>{{ $.Site.Title }}</title>
  
	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<a class="navbar-brand" href="/">Sophie Damelio</a>
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">Home</li>
		<li class="nav-item">About</li>
		<li class="nav-item">Projects</li>
		<li class="nav-item">Contact</li>
	</ul>
</head>

{{end}}