<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">




    {{.Content}}

  
  <footer id="footer">
    <!-- contact info -->
    <h2 id="contact-anchor">Contact</h2>
    <p>Email: sophiedamelio@gmail.com</p>
    <button class="cta"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/sophiedamelio/">LinkedIn</a></button>
    <button class="cta"><a target="_blank" rel="noopener noreferrer" href="https://github.com/sophiedamelio/">GitHub</a></button>
    <!-- edit this link to actually be resume -->
    <button class="cta"><a href="https://docs.google.com/document/d/1LPEHmH7vYy471BvStVojWTBq3CVGEgukQoUej6Y2k0w/export?format=pdf" download="sophie_damelio_resume">Download Resume</a></button>
  </footer>

</body>
</html>
