<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">


  {{ block "header" . }}{{end}}


<body>
  <nav class="">
    <div class="">
      
      <ul class="nav justify-content-end">
        <!-- add in href to anchor points on page -->
        <li class="nav-item"><a class="nav-link" href="/">Sophie Damelio</a></li>
        <li class="nav-item"><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="">About</a></li>
        <li class="nav-item"><a class="nav-link" href="">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
      </ul>
    </div>
  </nav>

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
