/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

/*
  Or add your statements here:
 */
body {
  font-size: calc(10px + 1vmin);

  font-family: brandon-grotesque, sans-serif;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  color: white;*/
}

a {
  color: pink;
  text-decoration: none;
}

#nav-element {
  padding-top: 300px
}

.content {
  padding: 0 32px;
}

.card-body p {
	font-size: .9rem;
}

.card-header,
.card-footer {
	color: #6c757d;
	font-size: .875em;
	background-color: var(--light-blue);
	color: var(--main-blue);
}
