{{ define "main" }}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Sophie Damelio</a>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<!-- add in href to anchor points on page -->
			<li class="nav-item"><a class="nav-link" href="">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="">About</a></li>
			<li class="nav-item"><a class="nav-link" href="">Projects</a></li>
			<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
		</ul>
	</div>
</nav>

<!-- about  -->
<h2>I am an LA based full stack web developer.</h2></br>
<p>With years of experience in public facing roles, creating and building business, and applying my unique background experience to all that I do. I have spent the last two years building my knowledge in Web Development, and am actively seeking full time work.</p>
<!-- Projects -->
<div>
	<div class="card project">
			<h3 class="top card-header d-flex justify-content-between">everyJob Django App</h3>
			<div class="card-body">
			<p>As a part of a four person team I collaboratively  built a Fullstack Django app with full CRUD functionality.

				We utilized PostgreSQL for database storage, Django built-in Authentication, and deployment on Heroku.</p>
			<a href="https://github.com/sophiedamelio/everyJob">Link to the Repo</a>
			<!-- add in hover w login for demo -->
			<a href="https://sophie-everyjob.herokuapp.com/">Explore everyJob</a>
		</div>
	</div>
	<div class="card project">
		<h3 class="top card-header d-flex justify-content-between">Wishlist Express App</h3>
		<div class="card-body">
			<p>I built a Wishlist app using Express with full CRUD functionality and Google OAuth.</br>
				MongoDB is used for storage, and it is deployed on Heroku.</p>
			<a href="https://github.com/sophiedamelio/project_two">Link to the Repo</a>
			<!-- add in hover w login for demo -->
			<a href="https://sophie-project-two.herokuapp.com/">Get Listing</a>
		</div>
	</div>
	<div class="card project">
		<h3 class="top card-header d-flex justify-content-between">Connect Four Browser Game</h3>
		<div class="card-body">
			<p>I built a Connect Four browser game using JavaScript and HTML/CSS. 

				I used a Trello board to plan, and deployed via Github Pages. </p>
			<a href="https://github.com/sophiedamelio/connect_four/">Link to the Repo</a>
			<!-- add in hover w login for demo -->
			<a href="https://sophiedamelio.github.io/connect_four/">Play Connect Four</a>
		</div>
	</div>
	<div class="card project">
		<h3 class="top card-header d-flex justify-content-between">Ideas To Go</h3>
		<div class="card-body">
			<p>I developed and designed this website using design assets provided. I organized  content, converted graphics and created page layouts. I wrote responsive CSS including section transitions, CTAs, and general styling of elements beyond the built in Squarespace options. </p>
			<!-- add in sentence about not maintaining it, add link to page that displays the screenshots -->
			<a href="">View</a>
		</div>
	</div>


</div>
<!-- contact info -->



{{ end }}
