{{ define "main" }}




<!-- lets fucking see -->
<!-- add in href to anchor points on page -->
<ul class="nav justify-content-start" id="nav-element">
	<li class="nav-item" id="name"><a class="nav-link"href="/">Sophie Damelio</a></li>
	<li class="nav-item"><a class="nav-link" href="">Home</a></li>
	<li class="nav-item"><a class="nav-link" href="">About</a></li>
	<li class="nav-item"><a class="nav-link" href="">Projects</a></li>
	<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
<ul>


<!-- about  -->
<h2>About</h2>
<h3 id="about-text">I am an LA based full stack web developer.</h3></br>
<!--<img src="https://i.imgur.com/xP5FFQB.jpg" alt=""/>-->
<p>With years of experience in public facing roles, creating and building business, and applying my unique background experience to all that I do. I have spent the last two years building my knowledge in Web Development, and am actively seeking full time work.</p>
<!-- Projects -->

<h2>Projects</h2>
<div>
	<div class="card project row">
		<div class=" col-12 col-sm-6 mt-3 mb-4">
			<h3 class="top card-header d-flex justify-content-between">everyJob Django App</h3>
			<div class="card-body">
				<img class="card-img-bottom img-fluid rounded float-left" src="https://i.imgur.com/Racp4jG.png" alt="Responsive image"/>
				<p class="card-text">As a part of a four person team I collaboratively  built a Fullstack Django app with full CRUD functionality.
					We utilized PostgreSQL for database storage, Django built-in Authentication, and deployment on Heroku.</p>
				<button><a href="https://github.com/sophiedamelio/everyJob">Link to the Repo</a></button>
				<!-- add in hover w login for demo -->
				<button><a href="https://sophie-everyjob.herokuapp.com/">Explore everyJob</a></button>
			</div>
		</div>
	</div>
	<div class="card project row">
		<div class=" col-12 col-sm-6 mt-3 mb-4">
			<h3 class="top card-header d-flex justify-content-between">Wishlist Express App</h3>
			<div class="card-body">
				<p class="card-text">I built a Wishlist app using Express with full CRUD functionality and Google OAuth.</br>
					MongoDB is used for storage, and it is deployed on Heroku.</p>
				<button><a href="https://github.com/sophiedamelio/project_two">Link to the Repo</a></button>
				<!-- add in hover w login for demo -->
				<button><a href="https://sophie-project-two.herokuapp.com/">Get Listing</a></button>
			</div>
		</div>
	</div>
	<div class="card project row">
		<div class=" col-12 col-sm-6 mt-3 mb-4">
			<h3 class="top card-header d-flex justify-content-between">Connect Four Browser Game</h3>
			<div class="card-body">
				<!--  should this be an ikmage? -->
				<img class="card-img-bottom img-fluid rounded float-left" src="https://i.imgur.com/QLH22K5.png" alt="Responsive image"/>
				<p class="card-text">I built a Connect Four browser game using JavaScript and HTML/CSS. 

					I used a Trello board to plan, and deployed via Github Pages. </p>
				<button><a href="https://github.com/sophiedamelio/connect_four/">Link to the Repo</a></button>
				<!-- add in hover w login for demo -->
				<button><a href="https://sophiedamelio.github.io/connect_four/">Play Connect Four</a></button>
			</div>
		</div>
	</div>
	<div class="card project row">
		<div class=" col-12 col-sm-6 mt-3 mb-4">
			<h3 class="top card-header d-flex justify-content-between">Ideas To Go</h3>
			<div class="card-body">
				<img class="card-img-bottom img-fluid rounded float-left" src="https://i.imgur.com/Zgn5lPV.jpg" alt="Responsive image"/>
				<p class="card-text">I developed and designed this website using design assets provided. I organized  content, converted graphics and created page layouts. I wrote responsive CSS including section transitions, CTAs, and general styling of elements beyond the built in Squarespace options. </p>
				<!-- add in sentence about not maintaining it, add link to page that displays the screenshots -->
				<button><a href="">View</a></button>
			</div>
		</div>
	</div>
</div>

<!-- contact info -->
<h2>Contact</h2>
<p>Email: sophiedamelio@gmail.com</p>
<button><a href="https://www.linkedin.com/in/sophiedamelio/">LinkedIn</a></button>
<!-- edit this link to actually be resume -->
<button><a href="./directory/yourfile.pdf" download="newfilename">Download Resume</a></button>



{{ end }}
